In [ ]:
Write a Python function to find the maximum of three numbers.

In [6]:
def max(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c

In [7]:
max(23,44,21)

44

In [ ]:
Write a Python function to sum all the numbers in a list. Sample List : (8, 2, 3, 0, 7) Expected Output : 20

In [10]:
def sum_list(numbers):
    total = 0
    for x in numbers:
        total += x
    return total

In [11]:
sum_list([12,2,1,4,5,4,3])

31

In [ ]:
Write a Python function to multiply all the numbers in a list. Sample List : (8, 2, 3, -1, 7) Expected Output : -336

In [13]:
def multiply_list(numbers):
    product = 1
    for number in numbers:
        product *= number
    return product

In [14]:
multiply_list([2,32,22,33,2,21,21])

40981248

In [ ]:
Write a Python program to reverse a string. Sample String : "1234abcd" Expected Output : "dcba4321"

In [15]:
def reverse_string(string):
    reverse_string=string[::-1]
    return reverse_string

In [16]:
reverse_string("faiq")

'qiaf'

In [ ]:
Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [17]:
def factorial(number):
    fact=1
    for i in range(1,number+1):
        fact*=i
    return fact

In [18]:
factorial(5)

120

In [ ]:
Write a Python function to check whether a number falls within a given range.

In [20]:
def number_in_range(lower_range,upper_range,number):
    if number>=lower_range and number<=upper_range:
        return "f{number} Falls within a given Range."
    else:
        return number, "does not falls within a given range."

In [21]:
number_in_range(23,89,21)

(21, 'does not falls within a given range.')

In [ ]:
Write a Python function that takes a list and returns a new list with distinct elements from the first list. Sample List : [1,2,3,3,3,3,4,5] Unique List : [1, 2, 3, 4, 5]

In [22]:
def unique_list(list):
    u_list=[]
    for a in list:
        if a in u_list:
            continue
        else:
            u_list.append(a)
    return u_list

In [23]:
unique_list([1,2,2,2,2,3,3,4,4,5,6,56,7,7,6,5,5,55,4,4,4,4,4,33,3,3,3])

[1, 2, 3, 4, 5, 6, 56, 7, 55, 33]

In [ ]:
Write a Python program to print the even numbers from a given list. Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9] Expected Result : [2, 4, 6, 8]

In [24]:
def even_number(list):
    new_list=[]
    for a in list:
        if a%2==0:
            new_list.append(a)
        else:
            continue
    return new_list

In [25]:
even_number([12,334,323243,4545,4,5,5,6,7,6,76,7,655,3,4,34,2,3])

[12, 334, 4, 6, 6, 76, 4, 34, 2]